body{
    height:100%;
    background-image: url("./images/bodyimages.jpeg");
    background-size: cover;
     background-repeat: no-repeat;
    
}
footer{
    text-align: center;
    margin-top: 50%;
    color:black;
    background-color: #ff1010ee;
    font: size 10em;
    font-family: 'Courier New', Courier, monospace; 
}
h3{
    color: white;
}
.col-sm-6{
    margin-top: 30%;
}
h1{
    font-size: 5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:blue;
}
.main{
    display: none;
}
.top{
    background-image:url("./images/dice-red.png");
    background-repeat:  no-repeat;
    background-size: cover;
    height: 99vh;
    width: 100%;
}
/* .input{
    font: size 5em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
} */
.input{
    font-family: cursive;
    color: aqua;
    font-size: 1.5em;

}